@page {
    size: {{ pagesize }};
    @bottom-right {
        content: "Page " counter(page)
                 " of " counter(pages)
    }

    @bottom-center {
        font-size: 80%;
        content: "Powered by the Aristotle Metadata Registry";
    }

    /*@left-top {*/
    /*    content: "W3C Recommendation"; font: .5cm/1.5 Fontin Sans;*/
    /*    background: #005a9c; color: #fff; text-align: right;*/
    /*    padding-right: 2em; height: 1.5em; width: 10cm;*/
    /*    transform-origin: 100% 0;*/
    /*    transform: rotate(-90deg);*/
    /*}*/
}
