import default

table.grid {
    border-width: 0px;
    padding: 2px;
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 0px;
}
td.segno {
    font-size: smaller;
}
p.transcription {
    border: 1px solid #ddd;
    width: 450px;
    height: 26px;
    cursor: pointer;
}
